<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<link rel="icon" type="image/png" href=<%- contextPath %>/img/hylar-icon.png" />
<link rel="stylesheet" href="<%- contextPath %>/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="<%- contextPath %>/js/front.js"></script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>HyLAR GUI</title>