a.fact {
    color: darkslategray;
    display: inline-block;
    border: 1px solid slategray;
    padding: 3px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
    width: auto;
    background: ghostwhite;
    box-shadow: slategray 1px 1px;
}

a.fact-valid-true {
    color: green;
    border-color: limegreen;
}

a.fact-valid-false {
    color: indianred;
    border-color: indianred;
}

a.fact:hover {
    color: slategray;
    text-decoration: none;
}

span.rule {
    color: teal;
    display: inline-block;
    border: 1px solid slategray;
    padding: 3px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
    width: auto;
    background: #FEFEFE;
    box-shadow: slategray 1px 1px;
}

h3 {
    border-bottom: 1px solid slategray;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 15px;
    text-shadow: 1px 1px lightslategrey;
}

.error {
    color: darkred;
}

.noerror {
    color: teal;
}

.sparqlresults-table {
    table-layout: fixed;
    word-wrap: break-word;
}

.sparqlresults-table th {
    text-align: center;
    background-color: #ededed;
}

.sparqlresults {
    font-family: "Courier New";
    font-weight: bold;
}

.sparqlstatus {
    width: 15%;
    text-align: center;
}

.queryhistory:hover {
    background-color: #ededed;
    cursor: copy;
}

