span.fact {
    color: darkslategray;
    display: inline-block;
    border: 1px solid slategray;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
    width: auto;
    background: ghostwhite;
    box-shadow: slategray 1px 1px;
    letter-spacing: 1px;
}

code {
    background-color: unset;
    color: #2c2c2c;
}

span.fact-valid-true {
    color: green;
    border-color: limegreen;
}

span.fact-valid-false {
    color: indianred;
    border-color: indianred;
}

a.fact:hover {
    color: slategray;
    text-decoration: none;
}

span.rule {
    color: teal;
    display: inline-block;
    border: 1px solid slategray;
    padding: 3px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
    width: auto;
    background: #FEFEFE;
    box-shadow: slategray 1px 1px;
}

.error {
    color: darkred;
}

.noerror {
    color: teal;
}

.results-table {
    word-break: break-word;
}

.queryhistory:hover {
    background-color: #ededed;
    cursor: copy;
}

td.is-centered {
    text-align: center;
}

.container div.file {
    justify-content: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

span.fact .fact-state {
    text-shadow: 0.5px 0.5px #d2d2d2;
    letter-spacing: 0.75px;
    cursor: default;
}

span.fact.fact-state.explicit {
    color: #7c5fa4;
    background-color: #f8f8fa;
    border: 1px solid #7c5fa4;
}
span.fact.fact-state.implicit {
    color: #5283a4;
    background-color: #ecf7fa;
    border: 1px solid #5283a4;
}
span.fact.fact-state.axiom {
    color: #df682a;
    text-align: center;
    background-color: #fff8cf;
    border: 1px solid #df9e27;
}

.fact.false {
    background-color: #ffeded;
    color: #ff6b62;
}

.footer {
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
    z-index: 5;
}

.footer.status-ok {
    background-color: #eeffe8;
    border-top: 1px solid #b7dfc0;
    color: #355335;
}

.footer.status-nok {
    background-color: #fff0ed;
    border-top: 1px solid #df682a;
    color: #c24421;
}

.last-log {
    padding: 5px;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: -1px;
}

tr.fact-entry.fact-highlight {
    background-color: #d9c5f0;
}

tr.fact-entry.fact-highlight.fact-derived {
    background-color: #d0f0eb;
}
.fact-entry-axiom {
    background-color: #f4f4f4;
    border: 1px solid #dadada;
}

div.card {
    margin-right: 30%;
    margin-left: 30%;
}

.select, .select select {
    width: 100%
}

div.powered-by {
    margin-top: 10px;
    text-align: right;
}

div.powered-by .rdfstore {
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    font-size: 13px;
    padding: 2px;
    padding-bottom: 4px;
    border: 1px solid #df9e27;
    border-radius: 5px;
    color: #df682a;
    background-color: rgba(248, 236, 14, 0.2);
    box-shadow: #dfc830 1px 1px;
}
div.powered-by .yasqe {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 13px;
    padding: 2px;
    padding-bottom: 4px;
    border: 1px solid #5283a4;
    border-radius: 5px;
    color: #5283a4;
    background-color: rgba(236, 247, 250, 0.2);
    box-shadow: #b7dfc0 1px 1px;
}

div.owl2rl {
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 13px;
    padding: 2px;
    padding-bottom: 4px;
    border: 1px solid #d080a8;
    border-radius: 5px;
    color: #d080a8;
    background-color: #fff4f7;
    box-shadow: #d080a8 1px 1px;
}

div.custom {
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 13px;
    padding: 2px;
    padding-bottom: 4px;
    border: 1px solid #b3d059;
    border-radius: 5px;
    color: #b3d059;
    background-color: #eaffdf;
    box-shadow: #b3d059 1px 1px;
}

.graph-result {
    border: 1px solid #dbdbdb;
    padding: 10px;
    color: rgba(69, 46, 91, 0.78);
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    overflow-y: scroll;
    max-height: 200px;
}

.graph-result-menu {
    text-align: right;
    font-size: 18px;
    border-top: 1px solid #dbdbdb;
    background-color: #ecf7fa;
    padding: 3px;
    padding-right: 10px;
    margin-top: 10px;
}

.is-proof {
    margin-bottom: 50px;
    margin-top: -50px;
    border: 1px solid #3273dc;
}