<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<header>
    <% include ../partials/menu.ejs %>
</header>
<div class="container">
    <h2>Sorry. This resource does not exist.</h2>
</div>
</body>