<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<header>
    <% include ../partials/menu.ejs %>
</header>
<div class="container">
    <h3>Rules</h3>

    <h4>Add a new rule</h4>
    <form method="post" action="">
        (see <a href="https://www.npmjs.com/package/hylar#create-your-own-rules">guidelines</a> for creating your own rules).
        <textarea name="rule" style="font-family: 'Courier New'; font-size: 16px;" class="form-control" rows="1"></textarea>
        <input type=submit value="Add rule"/>
    </form>

    <h4>Current rules</h4>
    <% if (rules.length == 0) { %>HyLAR has no rules (no pun intended!)<% } %>
    <% for (var i = 0; i < rules.length; i++) { %>
    <h5><% if (rules[i].name) { %><%- rules[i].name %><% } else { %>Unnamed rule #<%- i %>%><% } %></h5>
    <span class="rule"><%- rules[i].rule %></span></br>
    <% } %>
</div>
</body>