<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<header>
    <% include ../partials/menu.ejs %>
</header>
<div class="container">
    <h3>SPARQL endpoint</h3>
    <form method="post" action="">
        <small>Powered by <a href="https://www.npmjs.com/package/rdfstore">rdfstore.js</a></small>
        <textarea name="query" style="font-family: 'Courier New'; font-size: 16px;" class="form-control" rows="10"><%- sparqlQuery %></textarea>
        <input type=submit value="Submit query"/>
    </form>

    <div class="table-responsive">
        <h4>Results</h4>
        <table>
            <% for (var i = 0; i < prevResults.length; i++) { %>
            <tr>
                <% for (var key in prevResults[i]) { %>
                <td><small style="font-weight: bold;"><%- prevResults[i][key].value %></small></td>
                <% } %>
            </tr>
            <% } %>
        </table>
    </div>



    <h3>Query history</h3>
    <table class="table table-bordered">
        <tr>
            <th>SPARQL query</th>
            <th>Status</th>
        </tr>
        <% for (var i = 0; i < history.length; i++) { %>
        <tr>
            <td><%- history[i].query %></td>
            <td>
                <% if(history[i].noError) { %>
                    <div class="noerr"<span class="noerror glyphicon glyphicon-ok">Passed</span>
                <% } else { %>
                    <span class="noerror glyphicon glyphicon-remove-circle"> Errored</span>
                <% } %>
            </td>
        </tr>
        <% } %>
    </table>

</div>
    <div style="padding-top: 10px; font-weight: bold; color:indianred;"><%- error %></div>
</div>
</body>
</html>